<h1>Convert <%= @code %><h1>

<% ENV.fetch("TE") %>

<a href="/">Go Back</a>

<ul>
<% @dkeys.keys.each do |symbol| %>

    <li><a href="/<%= symbol %>">Convert 1 <%= symbol %>...</a></li>

<% end %>
</ul>
